*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#bi{
    padding: 15px;
}
.info-bar{
    height: 50px;
    width: 100%;
    background-color: black;
}
.info-p{
    color: white;
    padding: 20px 30px;
}
.nav{
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
}
.nav li{
    list-style: none;
    padding: 20px;
}
.nav li a{
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none;
}
.callus{
    padding: 20px;
    padding-right: 0;
    color: white;
}


/* search section */

.search-bar{
    background-color: white;
    display: flex;
    height: 80px;
    width: 100%;
}
.techshed{
    padding: 15px 30px;
    font-size: 40px;
}
#search{
    background-color: rgba(128, 128, 128, 0.192);
    padding: 20px;
    outline: none;
    border: none;
    border-radius:50px;
    height: 40px;
    width: 300px;
    margin: 20px;
}
#search:hover{
    border: 1px solid black;
    background-color: white;
}
.search-button{
    color: white;
    position: relative;
    top: 20px;
    right: 100px;
    outline: none;
    border: none;
    height: 41px;
    width: 80px;
    background-color:  rgba(0, 0, 255, 0.603);
    border-radius:  0 50px  50px 0;
}
.search-button:hover{
    background-color: black;
}

.search-bar-icon{
    display: flex;
    position: absolute;
    right: 20px;
}
.search-bar-icon li{
    padding: 20px;
    list-style: none;
}
.search-bar-icon li a{
    color: black;
    text-decoration: none;
}
#circle{
    padding: 10px ;
}
#heart{
    padding: 10px;
}
#cart{
    padding: 10px;
}




   /* .navigations */

.navigation{
    height: 40px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.164);
}
.navbar{
    margin-left:10px ;
    display: flex;
}
.navbar li{
    list-style: none;
    padding: 15px;
}
.navbar li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651);
}
.navbar li a:hover{
    color:  rgba(0, 0, 255, 0.603);
}


/* dropdown */
 
.dropdown{
    position: absolute;
    top: 180px;
    left: 420px;
    display: none;
}
nav .navbar li:hover .dropdown{
    width: 100px;
    height: 60px;
    display: block;
    background-color: rgba(128, 128, 128, 0.164);
}
nav .navbar li:hover .dropdown li{
    padding: 5px 10px;
}






/* section */

.sheer{
    margin-top: 100px;
    margin-left: 250px;
    height: 700px;
   display: flex;
}
#sheer-img{
    height: 500px;
    width: 40%;
    border: 1px solid grey;
}
img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    width: 435px;
}
.sheer-info{
    height: 500px;
    width: 35%;
}
.info{
    padding: 0 30px;
    font-size: 30px;
    font-family: sans-serif;
}
.sku{
    padding: 30px 30px;
    font-size: 15px;
    font-family: sans-serif;
}
.price{
    padding: 10px 30px;
    font-size: 25px;
    font-family: sans-serif;
}

#buy{
    font-size: 16px;
    color: white;
    position: relative;
    top: 70px;
    left: 20px;
    height: 40px;
    width: 200px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 50px;
}
#buy:hover{
    opacity: 0.5;
}